<footer class="site-footer h-card">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col">
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      </div>
      {% if site.email %}
      <div class="footer-col">
        <p><span class="u-email">{{ site.email }}</a></p>
      </div>
      {% endif %}
    </div>

  </div>
</footer>
